<ion-header>
  <ion-navbar>
    <ion-title>
      Developer Data
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Id Tipo Sector</ion-label>
    <ion-input [(ngModel)]="developer.pkidtiposector"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Cod. Tipo Sector</ion-label>
    <ion-input [(ngModel)]="developer.codigotiposector"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Nombre Tipo Sector</ion-label>
    <ion-input [(ngModel)]="developer.nombretiposector"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Sector Activo: </ion-label>
    <ion-input [(ngModel)]="developer.tiposectoractivo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Fehca de Creación Tipo Sector: </ion-label>
    <ion-input [(ngModel)]="developer.creaciontiposector"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Fehca de Modificación Tipo Sector: </ion-label>
    <ion-input [(ngModel)]="developer.modificaciontiposector"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Descripción Tipo Sector: </ion-label>
    <ion-input [(ngModel)]="developer.descripciontiposector"></ion-input>
  </ion-item>
  <button ion-button full (click)="addDeveloper()">Adicionar Desarrollador</button>

  <ion-list>
    <ion-item *ngFor="let dev of developers">
      <h2>ID: {{ dev.pkidtiposector }}</h2>
      <p>Nombre: {{ dev.nombretiposector }}</p>
      <p>Cod: {{ dev.codigotiposector }}</p>
      <p>Activo: {{ dev.tiposectoractivo }}</p>
      <p>Fecha Creación: {{ dev.creaciontiposector }}</p>
      <P>Fecha mod: {{ dev.modificaciontiposector }}</P>
      <p>Descripción: {{ dev.descripciontiposector }}</p>

    </ion-item>
  </ion-list>
</ion-content>